
.navbar-brand {
    height: 60px;
}

.background-image {
    width: inherit;
}

body {
    background-image: url(https://images.pexels.com/photos/242236/pexels-photo-242236.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
}

.my-name {
    color: black;
    margin-left: 453px;
    font-size: 35px;
    padding: 20px;
    background-color: turquoise;
    font-family: sans-serif;
}
.spacing {
    border-left: solid;
    border-right: solid;
}

.my-container {
    height: 575px;
}
.my-container2 {
    border: 1px solid gray;
    height: 575px;
    margin-top: 50px;
    background-color: white;
}


.my-col1 {
    padding-left: 50px;
}

.my-col2 {
    background-color: white;
  width: 575px;
  height: 475px;
  outline-offset: 0px;
  border: 2px solid grey;
  padding: 50px;
  margin-top: 50px;
}

.my-col1-2 {
    background-color: white;

}

.container {
    width: auto;
    max-width: 680px;
    padding: 0 15px;
  }
  
  .footer {
    background-color: #343a40;
    height: 110px;

  }
