
.navbar-brand {
    height: 80px;
}

.name {
    font-size: 50px;
}

.my-container {
    border: 0px solid black;
    height: 575px;
    background-image: url(https://images.pexels.com/photos/242236/pexels-photo-242236.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
    width: auto;
    max-width: 680px;
    padding: 0 15px;
  }
  
  .footer {
    background-color: #343a40;
  }