
.navbar-brand {
    height: 80px;
}

.my-name {
    color: black;
    margin-left: 410px;
    font-size: 35px;
    padding: 10px;
    background-color: turquoise;
    font-family: sans-serif;
}
.spacing {
    border-left: solid;
    border-right: solid;
}

.my-container {
    height: 575px;
    background-image: url(https://images.pexels.com/photos/1939485/pexels-photo-1939485.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
}

.my-col1 {
    padding-left: 50px;
}

.my-col2 {
    background-color: white;
  width: 575px;
  height: 400px;
  outline-offset: 0px;
  border: 3px solid grey;
  padding: 50px;
  margin-top: 75px;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
    width: auto;
    max-width: 680px;
    padding: 0 15px;
  }
  
  .footer {
    background-color: #343a40;
    height: 90px;
  }
